pytest-cov
pre-commit
atomicwrites>=1.0; platform_system=="Windows"
colorama; platform_system=="Windows"
openai
selenium
webdriver-manager
numpy
flake8
black
rembg
opencv-contrib-python
flask
flask-cors
